!!!
%html{ lang: 'en' }

  %head

    %meta{ charset: 'UTF-8' }
    %title
      Chook

    / CSS
    %link{ href: '/css/chook.css', rel: 'stylesheet' }

    / JavaScript
    %script{ type: 'text/javascript', language: 'javascript', src: '/js/chook.js' }
    %script{ type: 'text/javascript', language: 'javascript', src: '/js/logstream.js' }

  %body
    / Top
    #pageheader
      %table{ width: '100%' }
        %tr
          %td{ valign: 'bottom', width: '120' }
            #header_logo
              %img{ alt: '', height: '120', src: Chook::Server::CHOOK_LOGO_URL , width: '120' }

          %td
            #definition
              %span.chook_title Chook
              %br/
              %span.def_pronunciation /tʃʊk/ (also chookie /ˈtʃʊki/ )
              %br/
              %span.def_part_of_speech noun
              %span.def_dialect Australian/NZ informal
              %br/
              %span.def_definition a chicken or fowl
          %td#serverstats{ valign: :bottom, align: :right }
            %table
              %tr
                %td.label_cell
                  Chook version:
                %td.value_cell
                  #{Chook::VERSION}
              %tr
                %td.label_cell
                  Sinatra version:
                %td.value_cell
                  #{Sinatra::VERSION}
              %tr
                %td.label_cell
                  Thin version:
                %td.value_cell
                  #{Thin::VERSION::STRING}
              %tr
                %td.label_cell
                  Ruby version:
                %td.value_cell
                  #{RUBY_VERSION} @ #{Gem.ruby}
              %tr
                %td.label_cell
                  Server started:
                %td.value_cell
                  #{Chook::Server.starttime.strftime '%Y-%m-%d %H:%M:%S'}
                  (#{Chook::Server.uptime})



    %hr/
    - if Chook.config.admin_user
      #login_logout_div

      - if session[:authed_admin]
        %a{ href: '/logout' }
          %button#logout_btn{ type: 'button' } Log Out
        = yield

      - else
        %form#login_form{ name: 'login_form', method: 'POST', action: '/login' }
          - if Chook.config.admin_user == Chook::Server::Auth::USE_JAMF_ADMIN_USER
            Jamf Pro
          Username:
          %input#username{ type: :text, name: 'username' }
          Password:
          %input#password{ type: :password, name: 'password' }
          %input#login_btn{ type: :submit, value: 'Log In' }
          - if session[:auth_failed]
            %span#login_incorrect &nbsp;&nbsp;&nbsp; Login Incorrect!

    - else
      = yield
